# Αγνόησε το .env αρχείο που περιέχει ευαίσθητες πληροφορίες
.env

# Αγνόησε τον φάκελο `node_modules` που περιέχει τις εξαρτήσεις του project
node_modules/

# Αγνόησε τον φάκελο καταγραφής logs (αν χρησιμοποιείς logging)
logs/
*.log

# Αγνόησε τον φάκελο της βάσης δεδομένων αν δεν θέλεις να ανέβει (προαιρετικά)
webscrDB.sqlite
